html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    background-image: url("/Users/admin/Desktop/general-assembly/unit-1/Project-1-escape-Noface/img/background-2.png");
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2 {
    font-family: 'Palanquin Dark', sans-serif;
    color: goldenrod;
    text-shadow: 3px 3px 4px #000000;
  }
  p {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 20px;
    color:white;
    text-shadow: 1px 1px 7px black;
  }
  
  @keyframes ani {
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
  }
  canvas {
    background-image: url("/Users/admin/Desktop/general-assembly/unit-1/Project-1-escape-Noface/img/Wood02.png"); 
    background-repeat: repeat; 
    animation: ani 5s linear infinite;
    animation-play-state: paused;
    background-color: #222;
    width: 100%;
    height: 100;
  }
  
  #container {
  max-width: 50em;
  height: 70vh;
  background-color: rgb(111, 12, 32);
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: .10fr .80fr .10fr;
  grid-template-columns: .20fr .60fr .20fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left btm-right btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #top-left {
    grid-area: top-left;
    background-image: url("/Users/admin/Desktop/general-assembly/unit-1/Project-1-escape-Noface/img/top=-background.png");
    background-repeat: repeat;
    animation: ani 5s linear infinite forwards;
    animation-play-state: paused;
  }
  
  #top-right {
    grid-area: top-right;
    background-image: url("/Users/admin/Desktop/general-assembly/unit-1/Project-1-escape-Noface/img/top=-background.png");
    background-repeat: repeat;
    animation: ani 5s linear infinite forwards;
    animation-play-state: paused;
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    background-color: #222;
  }
  
  #btm-right {
    grid-area: btm-right;
    background-color: #222;
    box-shadow: 0 0 2px 3px gold;
  }
  .gameMessage{
    background-color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    background-color: rgb(111, 12, 32);
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 16pt;
    color: black;
    border-style: solid;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 2px 3px goldenrod;
  }
#chihiro-run {
  display: none;
}
#noface-run {
  display: none; 
}
#radish {
  display: none;
}